{% load crispy_forms_filters %}

<form id="comment-form-{{ comment.id }}" method="post" action="{% url 'main:add_comment' %}" enctype="multipart/form-data" onsubmit="return validateForm(this); ">
  {% csrf_token %}

  <div id="button-panel">
    <button class="btn btn-primary mr-2" type="button" onclick="insertTag('<i>', '</i>', this)">Italic</button>
    <button class="btn btn-primary mr-2" type="button" onclick="insertTag('<strong>', '</strong>', this)">Bold</button>
    <button class="btn btn-primary mr-2" type="button" onclick="insertTag('<code>', '</code>', this)">Code</button>
    <button class="btn btn-primary mr-2" type="button" onclick="insertTag('<a href=>', '</a>', this)">Link</button>
  </div>

  <input type="hidden" name="parent_comment" value="{{ comment.id }}">

  {{ form|crispy }}

  <div class="form-group g-recaptcha mt-3" data-sitekey="6Le-pC4pAAAAAH1Duy4ieCg6_Tm6OMhbE-CmsedQ"></div>
  <button class="btn btn-primary mt-1" type="submit">Submit</button>

</form>